PORT=8000
DATABASE_URL=postgresql://neondb_owner:npg_FVvpHZ0JxTP4@ep-solitary-frog-aicdbyl3-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET=16df370d342c784cdcc1dcd627f6a11e8b122e06da02a14dcf2c4aed3920ca331292653e31ea36f9c23016510893fb44851d2e7f8ec1eaedc0520742dcab2bfb
ORIGIN=http://localhost:8080
PRODUCTION_ORIGIN=https://taskflow.ankitraj.fun
PRODUCTION_ORIGIN_2=https://www.taskflow.ankitraj.fun
REDIS_PASSWORD=uk3EHNfhXSb0r64S3WycN8V88IKrD6zX
REDIS_HOST=redis-19785.crce182.ap-south-1-1.ec2.cloud.redislabs.com
REDIS_PORT=19785
REDIS_TLS=false